<%- include("header")-%>

<body>

  <div class="box" id="heading">
    <h1> <%=listTitle%> </h1>
  </div>

  <div class="box">

    <%for(var i=0 ; i<listOfItem.length ; i++){%>
    <div class="item">
      <input type="checkbox">
      <p><%=listOfItem[i]%></p>

    </div>
    <%}%>

    <form class="item" action="/" method="post">

      <input type="text" name="first" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle%>>+</button>

    </form>

  </div>




</body>

</html>
